{% extends "base.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block js %}<script src="/js/booking.js"></script> {% endblock %}
{% block month_nav %}
  {% if month == "now"|date('F') %}
      <img class="arrow-back" width="20" src="/images/arrow-right-02.svg">
      <a class="arrow-month" href="/booking/?m={{ new_month }}">{{ month }}</a>
  {% else %}
      <a class="arrow-month" href="/booking/?m={{ new_month }}">{{ month }}</a>
      <img class="arrow-back" width="20" src="/images/arrow-left-02.svg">
  {% endif %}
{% endblock %}
{% block content %}
    {% include 'booking/includes/calendar.twig' %}
    {% include 'booking/includes/cards.twig' %}
{% endblock %}
