<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/webflow.css">
    <link rel="stylesheet" type="text/css" href="/css/metro-cart.css">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <script src="/js/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic","Roboto Slab:100,300,regular,700"]
            }
        });
    </script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/webflow.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/metro-favicon.png">
    <link rel="apple-touch-icon" href="/images/metropolitan.png">
    <!--[if lte IE 9]><script src="/js/placeholders.min.js"></script><![endif]-->
    <title>{% block title %}{% endblock %} - CartBooking</title>
  {% endblock %}
</head>
<body>
{% block nav %}
  <div>
    <div class="w-nav nav-global" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container">
        <nav class="w-nav-menu menu-background" role="navigation">
          <a class="w-nav-link nav-link" href="/">Home</a>
          <a class="w-nav-link nav-link" href="{{ path('placements') }}">Record placements</a>
          <a class="w-nav-link nav-link" href="{{ path('locations') }}">Maps</a>
          {% if is_granted('ROLE_ADMIN') %}
            <a class="w-nav-link nav-link" href="{{ path('admin/locations') }}">Admin</a>
          {% endif %}
          <a class="w-nav-link nav-link" href="{{ path('logout') }}">Sign out</a>
        </nav>
        <div class="w-nav-button menu-bt">
          <div class="w-icon-nav-menu"></div>
        </div>
        {% block month_nav %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}{% endblock %}
<div id="footer" class="footer">
  {% block footer %}
    &copy; Copyright {{ "now"|date("Y") }}
  {% endblock %}
</div>
</body>
</html>
